.footer {
    flex-shrink: 0;
    // text-align: center;
    // background-color: #E2EEF7;
    // border-top:2px solid #536379;
    // position: fixed;
    // height: 100px;
    width: 100%;
    bottom: 0;
    right: 0px;
    // width: 1000px;
    // margin: 20px auto;
    /* padding: 0px 100px 0; */
    /* color: white; */
    /* font-size: 25px; */
}

.footer-content {
    font-size: 1em;
    float: left;
    padding-bottom: 49px;
    // display: block;

    .letterhead {
        // display: inline-block;
        line-height: 160%;
        position: absolute;
        left: 20px;
        // top: 75px;
        // left: 15px;
        // float: left;
        }
        span {
            padding-left: 5px; 
        }
    .gray {
        color: #ccc;
    }
}

.footer--social-icons li {
    font-size: 20px;
    // width: 35px;
    // height: 35px;
    // margin-right: 8px;
    // grid-template-rows: 100px 1fr 35px;

    // display: inline;
    margin: 0 5px;
    position: relative;
    // left: 25px;
    // top: 0;
    width: 100%;
    // z-index: 1;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 0px 20px;
    // height: 140px;
    // margin-bottom: 60px;
    // background: #f8f8f8;
}

.footer--social-icons {
    float: right;
    display: flex;
    position: relative;
}

.footer--social-icons > ul > li > a {
    text-decoration: none;
}

.footer--social-icons li {
    font-size: 20px;
    margin: 0 5px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 4px;
    right: 39px;
}

.footer--social-icons > ul > li > a:visited {
    color: rgb(253, 246, 227);
}

.footer--social-icons > ul > li > a:visited {
    color: rgb(253, 246, 227);
}

.footer--social-icons > ul > li > a:active {
    color: rgb(77, 71, 71);
    color: rgb(253, 246, 227);
    font-weight: bold;
}

.footer--social-icons > ul > li > a:hover {
    color: rgb(175, 79, 14);
}