// /*variables*/
// $bg:#f2f2f2;
// $green:#10bc98;
// $green-hover:#13d7ae;
// $light-green:#87bc58;
// $light-green-hover:#c0da82;
// $orange:#e77e22;
// $orange-hover:#f6b417;
// $blue:#3cbce1;
// $blue-hover:#56d7ed;
// $purple:#9a59b5;
// $purple-hover:#c472e6;
// $yellow:#fac75a;
// $yellow-hover:#fce17a;
// $grey:#4c4c4c;
// $grey-hover:#747373;
// $red:#e84c3d;
// $red-hover:#f57b8a;
// $dark-blue:#34495e;
// $dark-blue-hover:#425c77;
// $ash-grey:#bec3c7;
// $ash-grey-hover:#d0d5d9;

// #providerFormprovider  {
// 	height: 100px;
// }

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid green;
}

#formAreaA {
    /* background-color: lime; */
    row-gap: 10px;
}

#formAreaB {
    background-color: #298465;
    overflow-y: auto;
    margin: 10px;
}


.submit-btn {
    display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #FFF;
    margin-top: 10px;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
    margin-bottom: 22px;
    
}
.transparent_btn:hover {
    background-color: rgba(255,255,255, 0.3);
    color: rgb(135, 172, 172);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.providerformContainer {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.providerformContainer  .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.providerformContainer  .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid rgb(167, 161, 161);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
    }
    form .category{
        display: flex;
        width: 80%;
        margin: 14px 0 ;
        justify-content: space-between;
    }
    form .category label{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    form .category label .dot{
        height: 18px;
        width: 18px;
        border-radius: 50%;
        margin-right: 10px;
        background: #d9d9d9;
        border: 5px solid transparent;
        transition: all 0.3s ease;
    }
    #dot-1:checked ~ .category label .one,
    #dot-2:checked ~ .category label .two,
    #dot-3:checked ~ .category label .three{
        background: #9b59b6;
        border-color: #d9d9d9;
    }
    form input[type="radio"]{
        display: none;
}
form .button1{
    height: 45px;
    margin: 35px 0
    }
    form .button1 input{
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }
    form .button1 input:hover{
  /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
    @media(max-width: 584px){
    .providerformContainer {
    max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
        form .category{
        width: 100%;
    }
    .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
    width: 5px;
    }
    }
    @media(max-width: 459px){
    .providerformContainer  .content .category{
        flex-direction: column;
    }
}

.container {
    display: flex;
    flex-direction: row;
    padding-bottom: 59px;
}

.container .provider-greeting {
    padding-right: 10px;
}
.provider-profile-btn {
    display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #FFF;
    margin-top: 10px;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
    .transparent_btn:hover {
        background-color: rgba(255,255,255, 0.3);
        color: #FFF;
    }

// .buttonForm {
//     background-color: white; 
//     color: black; 
//     border: 2px solid #4CAF50;
// }
p {
    font-size: 24px;
    color: gray;

}