#providerFormcontainer {
    
	height: 100px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid green;
}

#formAreaA {
    background-color: lime;
    row-gap: 10px;
}

#formAreaB {
    background-color: #298465;
    overflow-y: auto;
    margin: 10px;
}
