h3 {
    margin-top: 20px;
}
@media (min-width: 270px){
    #card-list {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
}
@media (min-width: 500px){
    #card-list {
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1180px){
    #card-list {
        grid-template-columns: repeat(4, 1fr);
        }
}
@media (min-width: 1300px){
    #card-list {
        grid-template-columns: repeat(4, 1fr);
    }
}