*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto'),
}

body {
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
}

#container {
    background-color:rgb(195, 213, 218);
    /* width: 1000px; */
    /* margin-bottom: 20px auto; */
    height: 100vh;
    grid-template-rows: 80px 1fr 35px;
    display: grid;
}

#areaA {
    /* background-color: lime; */
    row-gap: 10px;
}

#areaB {
    /* background-color: #298465; */
    padding: 60px;
    overflow-y: auto;
    /* margin: 10px; */
}

#areaC {
    /* background-color: orange; */
}


/* .content {
    flex: 1 0 auto;
    padding: 10px;
} */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.body-container {
    background: url('/Users/rishaallen/Developer/ada-projects/front-end-expecting/src/components/Navbar/—Pngtree—rainbow_5054102 (1).png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}