*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto'),
}

body {
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
}

#container {
    background-color:#eee;
    /* width: 1000px; */
    /* margin-bottom: 20px auto; */
    height: 100vh;
    grid-template-rows: 100px 1fr 30px;
    display: grid;
}

#areaA {
    background-color: lime;
    row-gap: 10px;
}

#areaB {
    background-color: yellow;
    overflow-y: auto;
}

#areaC {
    background-color: orange;
}


/* .content {
    flex: 1 0 auto;
    padding: 10px;
} */

